body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h1, button {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}
input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success {
    background-color: #28a745;
    color: #fff;
}
.success:hover {
    background-color: #218838;
}

button:hover {
    background-color: #0056b3;
}
#resultado {
    margin-top: 20px;
}
